<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="handler_php" />
            <add name="FastCgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\php-8.0\php-cgi.exe" resourceType="File" />
            <add name="handler_php" path="*.php" verb="*" type="System.Web.DefaultHttpHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="File" requireAccess="Script" preCondition="integratedMode" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
